# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Build and test

on:
  push:
    branches: [ "main" ]
    inputs:
      target_app:
        type: string
        required: false
        default: helloworld
  pull_request:
    branches: [ "main" ]
    inputs:
      target_app:
        type: string
        required: false
        default: helloworld
  workflow_dispatch:
    inputs:
      target_app:
        description: 'The target application to build and test'
        type: string
        required: false
        default: helloworld

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Install prerequisites
      shell: bash
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt update --fix-missing
        sudo apt install -f
        sudo apt install -y libx11-dev mesa-vulkan-drivers build-essential libxcb-xinerama0 libxcb-cursor0 libglu1-mesa-dev libxkbcommon-dev xvfb

    - name: Check build environment
      shell: bash
      run: sh check_build_environment.sh

    - name: Build and test linux
      shell: bash
      if: matrix.os == 'ubuntu-latest'
      run: xvfb-run sh package_app.sh "${{ github.event.inputs.target_app }}" -b build -t -d

    - name: Build and test win
      shell: bash
      if: matrix.os == 'windows-latest'
      run: sh package_app.sh "${{ github.event.inputs.target_app }}" -b build

    - name: Build and test macos
      shell: bash
      if: matrix.os == 'macos-latest'
      run: sh package_app.sh "${{ github.event.inputs.target_app }}" -b build -t -d


